body{
  background: #012;
  color: #fff;
  padding: 20px;
}

label{
  display: block;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: .8rem;
  line-height: .5rem;
  padding-left: 1px;
}

input [type="text"]{
  background:rgba(255, 255, 255, 0.1);
  border: 0;
  margin-bottom: 10px;
  color:#fff;
  font-size: 1.4rem;
}

.summary {
background: #158;
padding: 10px;
border-radius: 10px;
display: flex;
justify-content: space-between;
}

.summary label{
  line-height: 1rem;
}

.split-control {
  display: flex;
}
.split-control span{
  display: block;
  margin-bottom: 10px;
  padding: 0 3px;

}
.split button{
  border: 0;
  width: 20px;
  height: 20px;

}